@import "tailwindcss";

@theme {
  /* Palette Warna Espresso & Peony */
  --color-espresso: #3E2723;
  --color-peony: #F4C9D6;
  
  /* Mapping Font */
  --font-handwriting: var(--font-handwriting);
  --font-body: var(--font-body);
}

/* Optional: Smooth Scrolling */
html {
  scroll-behavior: smooth;
}